<body>
    <header>
        Welcome to Clarksen's Farms
    </header>

    <main>
        <section>
            <a href="/">
                <h3>Homepage</h3>
            </a>
            <p>
                The home page that will introduce users to the database and our mission.
            </p>
            <a href="equipments">
                <h3>Equipments</h3>
            </a>
            <p>
                A page that lists the inventory of equipment that is managed.
            </p>
            <a href="farms">
                <h3>Farms</h3>
            </a>
            <p>
                A page that lists all the farms within the database.
            </p>
            <a href="Crops">
                <h3>Crops</h3>
            </a>
            <p>
                A page that lists all the crops grown from each farm.
            </p>
            <a href="orders-and-crops">
                <h3>Order_Crops_Details</h3>
            </a>
            <p>
                A page that describes quantity and price of customer orders and crops.
            </p>
            <a href="orders">
                <h3>Orders</h3>
            </a>
            <p>
                A page that describes orders made by customers.
            </p>
            <a href="customers">
                <h3>Customers</h3>
            </a>
            <p>
                A page that lists all the customers within the database.
            </p>

        </section>
    </main>
</body>

</html>