<!-- main.hbs-->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel='stylesheet' type='text/css' media='screen' href='/css/main.css'>
</head>

<body>
    <nav>
        <a href="/">Homepage</a>
        <a href="equipments">Equipments</a>
        <a href="farms">Farms</a>
        <a href="crops">Crops</a>
        <a href="orders-and-crops">Orders and Crops Details</a>
        <a href="orders">Orders</a>
        <a href="customers">Customers</a>
    </nav>


    {{{body}}}


</body>

</html>